/* General */
body {
    background-image: linear-gradient(to bottom right, #e5bf82, #ffbcbc, #f9d1c7, #f9e0d9, #f9d1c7, #ffbcbc, #e5bf82);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #2e6171;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

/*Landing Page*/
.landingpage {
    position: relative;
    left: 75px;
    top: 125px;
    padding: 75px;
}
/* Fairy photo */
.fairyphoto{
    position: relative;
    top: 25px;
    left: 50px;
    transform: rotate(15deg);
}

/* Enter site */
#entersite{
    position: relative;
    top: 100px; 
    left: 100px;
    text-align: center;
    font-size: 50px;
}

.clicktoenter{
    position: relative;
    top: 75px;       
}
#buttondesign{
    background-color: #2e6171;
    color: #e5bf82;
    border-color: #2e6171;
}

.sparkley {
    background: #2e6171;
    color: #e5bf82;
    border: none;
    padding: 16px 36px;
    font-weight: normal;
    border-radius: 3px;
    transition: all 0.25s ease;
    box-shadow: 0 38px 32px -23px black;
    margin: 0 1em 1em;
  }
  .sparkley:hover {
    background: #2e6171;
    color:(#e5bf82, 0.2);
  }
/* Profile image */
.profileimage{
    border-radius: 50%;
    position: relative;    
    left: 75px;
}

/* Top of Page */

/* #topofpage {
    background-color: #ba5e8c;
    height: 200px;
}

#logo {
    box-align: center;
    height: 200px;
    width: 600px;
} */

/* #photosum{
    width: 450px;
}
#quickabout {
    color: #221336;
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;    
} */

/* Menu */

/* .menu {
    border: 2px solid #ba5e8c;
    border-radius: 5px;
    padding:25px;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    position: relative;
    top: 50px; 
}

.nav-link {
    color: #221336;
}

#professionallinks{
    width: 200px;
    margin-top: 95px;
}

#pagelinks{
    width: 200px;    
} */

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}