/* General */
body {
    background-image: linear-gradient(to bottom right, #e5bf82, #ffbcbc, #f9d1c7, #f9e0d9, #f9d1c7, #ffbcbc, #e5bf82);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #2e6171;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

/*Landing Page*/
.landingpage {
    position: absolute;
    top: 225px;
    left: 25px;
}

/* Fairy photo */
#fairyphoto {
    text-align: center;
}

/* Landing page photo */
#profileimage {
    align-content: center;
}

.losange,
.losange div {
    margin: 0 auto;
    transform-origin: 30% 45%;
    overflow: hidden;
    width: 225px;
    height: 225px;
    /* border: solid #e5bf82 4px; */
}

.losange {
    transform: rotate(45deg) translateY(30px);
}

.losange .los1 {
    width: 370px;
    height: 500px;
    transform: rotate(-45deg) translateY(-150px);
}

.losange .los1 img {
    width: 100%;
    height: auto;
}

/* Top of Page */

/* #topofpage {
    background-color: #ba5e8c;
    height: 200px;
}

#logo {
    box-align: center;
    height: 200px;
    width: 600px;
} */

/* #photosum{
    width: 450px;
}
#quickabout {
    color: #221336;
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;    
} */

/* Menu */

/* .menu {
    border: 2px solid #ba5e8c;
    border-radius: 5px;
    padding:25px;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    position: relative;
    top: 50px; 
}

.nav-link {
    color: #221336;
}

#professionallinks{
    width: 200px;
    margin-top: 95px;
}

#pagelinks{
    width: 200px;    
} */

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}