body {
  background-image: url("../images/beautiful-blur-bright-326055.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  color: rgb(255, 217, 0);
}

#mainnav {
  background: none;
 
}

#homelink,
#portfoliolink,
#contactlink {
  color: rgb(255, 217, 0);
  font-size: 18px;
}

#aboutme {
  background: none;
  font-size: 30px;
  text-align: center;
}

#quote {
  background: none;
  float: left;
  font-size: 18px;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}